@import url("base.css");

body {
  font-weight: 300;
}

main, footer {
  max-width: 900px;
  margin: 0 auto;
}

main {
  display: flex;
}

h2 {
  font-size: 2em;
  margin-bottom: .5em;
}

h3 {
  color: #1BB4BA;
  font-size: 1.3em;
  line-height: 1.8em;
}

p {
  font-size: 1em;
}

p, li {
  line-height: 1.5em;
}

strong {
  font-weight: 400;
}

section {
  padding: 1em;
}

ul li {
  margin: .5em 0;
}

small {
  font-size: .8em;
  color: #999999;
}

footer {
  margin-top: 2em;
  padding: 1.5em 0 2em;
  text-align: center;
  border-top: 1px solid #DFDFDF;
  color: #888;
}

footer a {
  color: #BBBECE;
}

.main__column {
  display: flex;
  flex-direction: column;
}

.main__column--narrow {
  max-width: 40%;
  padding-right: 4em;
}

.personal__line-title {
  color: #D75893;
  font-weight: 400;
}

.skills li {
  display: flex;
  justify-content: space-between;
}

.skills .icon {
  width: 1em;
  height: 1em;
  margin: 0 0 0 .2em;
}

.timeline {
  border-left: 3px solid #D75893;
  margin-left: 1em;
  padding: 0.2em 0;
  margin-top: -0.3em;
}

.timeline p {
  margin-bottom: 0;
}

.timeline li {
  list-style-type: disc;
  margin-left: 1.2em;
}

.timeline li::marker {
  font-size: 1.8em;
  color: #D75893;
}

.timeline__lapse {
  margin: 0;
  font-variant: small-caps;
  font-size: 0.9em;
}

.timeline__description-title {
  margin-top: 0.2em;
  cursor: pointer;
}

.timeline__description-arrow {
  display: inline-block;
  width: 1.2em;
  height: 1em;
  vertical-align: -0.25em;
  transition: transform .3s ease-in-out, vertical-align .3s ease-in-out;
  margin-left: 0.1em;
}

.timeline__description-arrow--flipped {
  transform: rotate3d(1,0,0,180deg);
  vertical-align: -0.15em;
}

.timeline__description-arrow > span {
  border-right: 1px solid #D75893;
  border-bottom: 1px solid #D75893;
  width: .5em;
  height: .5em;
  display: block;
  transform: rotate(45deg);
  margin: 0 auto;
}

.timeline__description-extended {
  max-height: 0;
  transition: max-height .3s ease-in-out;
  overflow: hidden;
  font-size: .8em;
}

.timeline__description-extended--open {
  max-height: 10em;
}

.timeline li + li {
  margin-top: 2em;
}

.icon {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  stroke-width: 0;
  fill: #D75893;
  vertical-align: -0.2em;
  margin-right: 0.6em;
}

.bottom-ribbon {
  height: 2em;
  background-color: #D75893;
}

@media only print {
  a {
    color: #333333;
  }

  footer, .bottom-ribbon {
    display: none;
  }
}
