html {
	/* background-color: #383838; */
}
body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	width: 100%;
	font-weight: 200;
}

h1, h2, h3, h4, h5 {
	font-family: 'Dynalight', cursive;
	color: #D75893;
}

h1 {
	font-size: 8em;
}
h2 {
	font-size: 4em;
}
header {
	text-align: center;
	padding: 4em 0;
	background-color: #f4eee9;
	background-image: url('../assets/d20.png');
	background-size: 11em;
	background-repeat: no-repeat;
	background-position: center 40%;
}
.header-title {
	font-family: 'Dynalight', cursive;
	font-weight: 400;
}
.header-sub {
	text-transform: uppercase;
	font-size: 2em;
}

.business-card ul {
	font-size: 1.8em;
	line-height: 1.8em;
	font-weight: 300;
	padding: 1em 0;
}

a {
	color: #1BB4BA;
	text-decoration: none;
}

a:visited {
	color: #777;
}

.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	stroke-width: 0;
	fill: #D75893;
	vertical-align: -0.1em;
	margin-right: .2em;
}

.icon-web {
	height: 1.3em;
	width: 1.3em;
	vertical-align: -.35em;
}

.icon-mail {
	margin-right: .4em;
}

.business-card {
	text-align: center;
}

main {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
main h2 {
	margin: 1em 0;
}
main p {
	font-size: 2em;
	margin: 1em 2em;
}